*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;

    a{
        text-decoration: none;
    }
}

.nav{
    background-color: cornflowerblue;
    border: 1px solid rgb(17, 0, 0);
    text-align: center;
    height: 20px;
    padding: 20px;
    h1{
        font-size: 18px;
        color: white;
        letter-spacing: 15px;
        text-transform: uppercase;
       text-shadow: rgb(128, 26, 0);

    }
    &:hover{
        box-shadow: 0 5px 50px hotpink;
        cursor: pointer;
        transition: 1s;
    }
}

.container{
    ul{
        display: flex;
        
        li img{
            height: 200px;
            width: 200px;
            
        }
    }
    
}

