#bg-color{
    background-color: mediumpurple;
    width: 100vw;
    height: 100vh;
}
#button{
    position: absolute;
    top: 50vh;
    right: 50vw;
    height: 40px;
    width: 180px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: mediumseagreen;
    font-weight: 1000;
    font-size: 25px;
}